.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(
        180deg,
        #FF8000,
        #A6AEBF
    ); 
    height: 45px;
    width: 55%;
    border-radius: 10px;
}

.button{
    font-size: 35px;
    color: #FBFBFB;
    border:none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-inline: 10px;
}

.button:hover{
    color:#e4e4e4f1
}

.button:active{
    color: #A6AEBF;
}
.count{
    color: #FBFBFB;
}
